.menu__items--div {
  height: 70px;
}

.menu__items--container {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  left: 58%;
}

/* .MenuOptions {
  display: inline-block;
  position: relative;
  left: 45%;
  bottom: 70px;
  text-decoration: none;
  list-style: none;
} */
.main__navbar {
  position: relative;
}

.menu__items--div {
  position: relative;
}

.MenuOptions {
  display: flex;
  position: absolute;
  right: 50px;
  /* bottom: 70px; */
  text-decoration: none;
  list-style: none;
}

.MenuOptions-profile {
  display: flex;
  position: absolute;
  left: 0px;
  top: -10px;
  text-decoration: none;
  list-style: none;
}
/* .item1 {
  font-family: Sora;
margin-left: 60px;
}
.item2 {
  font-family: Sora;
margin-left: 60px;
}
.item3 {
  font-family: Sora;
  margin-left: 60px;
} */
