.menu__items--div {
  height: 70px;
}

.menu__items--container {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  left: 45%;
  bottom: 15px;
}

.MenuOptions {
  display: inline-block;
  position: relative;
  left: 45%;
  bottom: 70px;
  text-decoration: none;
  list-style: none;
}

.item1 {
  position: absolute;
  top: 3.5px;
  left: 410px;
}
.item2 {
  position: absolute;
  top: 3.5px;
  left: 200px;
}
.item3 {
  position: absolute;
  top: 3.5px;
  left: 0px;
}