.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-title {
  position: relative;
  right: 175px;
  color: #5b10a8;
  font-family: Sora;
  font-size: 50px;
  margin-top: 1vh;
}
.login-input {
  margin-bottom: 2vh;
  margin-top: 14px;
  height: 40px;
  margin-right: 13px;
  padding: 10px;
  width: 500px;
}
.login-button {
  margin-left: 5px;
  background-color: #5b10a8;
  color: white;
  margin-top: 5vh;
  margin-bottom: 1vh;
  height: 50px;
  width: 500px;
  font-weight: bolder;
  font-size: 20px;
}
/* .Google-login{
  margin-left: 5px;
  background-color: #5b10a8;
  color: white;
  margin-top: 10vh;
  margin-bottom: 1vh;
  height: 50px;
  width: 500px;
  font-weight: bolder;
  font-size: 20px;
}
.Facebook-login{
  margin-left: 5px;
  background-color: #5b10a8;
  color: white;
  margin-top: 5vh;
  margin-bottom: 1vh;
  height: 50px;
  width: 500px;
  font-weight: bolder;
  font-size: 20px;
} */
/* .Google{
width:500px;
} */