.MainContainer {
  position: relative;
}

.title__main {
  /*learn*/
  font-size: 100px;
  line-height: 181px;
  color: #ffffff;
  position: absolute;
  top: 0px;
  margin: 0px;
  left: 40px;
  font-weight: bold;
  font-family: Sora;
}

.mainSection-image__div{
  position: relative;
  height: 90vh;
  width: 55%;
  top: 10%;
  left: 1%;
}
.mainsection__image {
  display: inline-block;
}

.description__main {
  /*cryptocurrency*/
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  top: 130px;
  left: 40px;
  font-weight: bold;
  font-family: Sora;
}




