.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ReactModal__Content {
  position: absolute;
  width: 40%;
  margin-left: 27%;
  z-index: 1;
}
.form-title {
  position: relative;
  right: 145px;
  color: #5b10a8;
  font-family: Sora;
  font-size: 50px;
  margin-top: 2vh;
}

.form-tagline {
  position: relative;
  right: 25px;
  color: #5b10a8;
  font-family: Sora;
  margin-top: 2vh;
  font-size: 1.75em;
}
.form-input {
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 40px;
  margin-right: 13px;
  padding: 10px;
  width: 500px;
}
.register-button {
  background-color: #5b10a8;
  color: white;
  margin-top: 7vh;
  margin-bottom: 1vh;
  height: 50px;
  width: 500px;
  font-weight: bolder;
  font-size: 20px;
}
.form-login {
  margin-top: 2vh;
  font-size: 13px;
}
