.subsection__Investments {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 41.25vw;
  height: 32%;
  z-index: 0;
}
.subsection__Transaction {
  display: inline-block;
  position: absolute;
  top: 30.5vh;
  width: 41.25vw;
  height: 32%;
  z-index: 0;
}

.subsection__Bitcoin-Mining {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 41.25vw;
  height: 32%;
  z-index: 0;
}
.subsectionImg__Investments {
  border-radius: 23px;
  width: 100%;
  max-height: 100%;
}
.subsectionImg__Transaction {
  border-radius: 23px;
  width: 100%;
  max-height: 100%;
}
.subsectionImg__Bitcoin-Mining {
  border-radius: 23px;
  width: 100%;
  max-height: 100%;
}

.title__sub {
  /*Subsection Title*/
  font-family: Sora;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  font-size: 5.12em;
  line-height: 75px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  width: 420px;
}

.title__subInvestments {
  top: 15vh;
  left: 30px;
  /* left: 30px; */
}
.title__subTransaction {
  top: 15vh;
  left: 30px;
}
.title__subBitcoin-Mining {
  top: 15.5vh;
  left: 30px;
}
