.Search__area {
  background: linear-gradient(
    90.44deg,
    #5b10a8 0%,
    rgba(172, 118, 227, 0.171875) 94.07%,
    rgba(220, 196, 245, 0) 113.6%
  );
  height: 10vh;
  position: relative;
}
.Search__box {
  height: 40px;
  width: 500px;
  background-color: white;
  position: absolute;
  top: 2vh;
  right: 30vw;
}
.Plus__button {
  color: white;
  position: absolute;
  right: 1.5vw;
  top: 0.5vh;
}

.Blog_Row {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 120px;
}
